
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title> Dashboard | Starter</title>

<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
<!--logout bytton-->
    <button id="logout"class="btn btn-primary btn-block">Logout</button>    
  </nav>
<!-- admin panel HTML -->
<div id="adminSection" style="display: none;">
  <div class="card">
    <div class="card-header bg-green">
      <h3 class="card-title">Admin Panel</h3>
      <button class="btn btn-warning mb-3 " onclick="toggleSellForm()">Sell Product
      </button>

<div id="sellForm" style="display:none;" class="card p-3">

  <select id="productSelect" class="form-control mb-2">
    <option value="">Select Product</option>
  </select>

  <input id="quantity" type="number" class="form-control mb-2" placeholder="Quantity">

  <button class="btn btn-success" onclick="sellProduct()">
    Confirm Sell
  </button>
</div>

    <button id="update product"class="btn btn-primary btn-block col-lg-2 col-6 ml-auto">Update Product</button>
    </div>
    <div class="card-body">
      <p>Only admin can see this </p>
    </div>
  </div>
</div>     
     <!--welcom HTML-->
    <div class="content-header ">
    <div class="container-fluid">
      <h3 id="welcome">Loading...</h3>
      <p id="role"></p>

    <!-- Main content -->
        <div class="col-lg-2 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3 id="totalUsers">0</h3>
              <p>Total Users</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3 id="activeUsers">0</h3>
              <p>Active Users</p>
            </div>
          </div>
        </div>
      </div>
    </div>



<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>