{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellcome to My Shop </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
</head>
<body>    
    <header class="navbar">
    <div class="nav-container">
    
        <!-- LOGO -->
        <div class="menu-toggle">☰</div>
        <div class="logo">
            <a href="#">MyShop</a>
        </div>
    
        <!-- MENU -->
        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'products-list' %}">Products</a></li>
            <li><a href="{% url 'new-products' %}">New</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    
        <!-- SEARCH -->
        <div class="search-box">
            <input type="text" placeholder="Search products...">
        </div>
    
        <!-- ACTIONS -->
        <div class="nav-actions">
            <a href="{% url 'cart' %}" class="cart">🛒 <span class="badge">2</span></a>
            <a href="#" class="login">Login</a>
        </div>
    
    </div>

    
</header>

<section class="category-hero">

    <div class="hero-content">

        <span class="hero-tag">
            Premium Collection
        </span>

        <h1>
            Explore Our Categories
        </h1>

        <p>
            Discover trending products, premium quality items,
            and modern collections designed for your lifestyle.
        </p>

    </div>

</section>

    <main class="main-link">
        {% for cat in categories %}
          <div class="section">
            <h2>{{cat.name}}</h2>
            <img src="{{ cat.image_url }}" alt="img">
            <a href="{% url 'subcategories' cat.id %}">
              <p>Start Shoping {{cat.name}}</p>
            </a>
          </div>
        {% endfor %}
    </main>

    <footer class="footer">
        <div class="footer-info">
            <div class="info-box">
                <h3 class="footer-tital">
                    Here Is What We Can Do For You
                </h3>
                <p class="footer-pragraf">
                    My Shop is a shop designed to take your business to a higher level. If you are reading this, it means that you are on our demo website, but we can turn this website into your own site with your own design and products.
                    <br>
                    <br>
                    فروشگاه من طراحی شده است تا کسب و کار شما را به سطح بالاتری ببرد. اگر این را می‌خوانید، به این معنی است که شما در وب‌سایت نمایشی ما هستید، اما ما می‌توانیم این وب‌سایت را به سایت خودتان با طراحی و محصولات خودتان تبدیل کنیم
                </p>
            </div>
        </div>
    </footer>
<p class="copy-right">&copy;Sajad Aslan</p>


<script src="{% static 'js/shop-dashboard.js' %}"></script>
</body>

<script>
    const toggle = document.querySelector(".menu-toggle");
    const nav = document.querySelector(".nav-links");

    toggle.addEventListener("click", () => {
        nav.classList.toggle("active");
    });
</script>
</html>
