/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* BODY */

body{

    font-family:Segoe UI,sans-serif;

    background:
    linear-gradient(135deg,#d9b98e,#f3e3ca);

    min-height:100vh;

    display:flex;
    align-items:center;
    justify-content:center;

    padding:40px;
}


/* CONTAINER */

.buy-container{

    width:100%;
    max-width:1200px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:40px;

    background:
    rgba(255,255,255,0.2);

    backdrop-filter:blur(12px);

    border-radius:30px;

    padding:40px;

    box-shadow:
    0 15px 40px rgba(0,0,0,0.1);
}


/* LEFT */

.product-preview{

    display:flex;
    flex-direction:column;

    gap:25px;
}


/* IMAGE */

.product-image{

    width:100%;
    height:420px;

    background:#f5f5f5;

    border-radius:25px;

    overflow:hidden;
}

.product-image img{

    width:100%;
    height:100%;
    object-fit: contain;
}


/* DETAILS */

.product-details h1{

    font-size:42px;

    margin-bottom:15px;

    color:#222;
}


.price{

    font-size:30px;

    font-weight:bold;

    margin-bottom:15px;

    color:#111;
}


.description{

    line-height:1.8;

    color:#444;
}


/* FORM */

.buy-form{

    display:flex;
    flex-direction:column;

    gap:18px;
}


.buy-form h2{

    font-size:34px;

    margin-bottom:10px;

    color:#222;
}


.buy-form input{

    width:100%;

    padding:16px;

    border:none;

    border-radius:16px;

    outline:none;

    background:#fff;

    font-size:15px;
}


/* QUANTITY */

.quantity-box{

    display:flex;
    flex-direction:column;

    gap:8px;
}


.quantity-box label{

    font-weight:600;
}


/* BUTTON */

.buy-form button{

    padding:16px;

    border:none;

    border-radius:16px;

    background:#111;

    color:#fff;

    font-size:16px;

    cursor:pointer;

    transition:0.3s;
}


.buy-form button:hover{

    background:#333;

    transform:translateY(-2px);
}



/* MOBILE */

@media(max-width:768px){

    body{

        padding:15px;
    }

    .buy-container{

        grid-template-columns:1fr;

        padding:20px;

        gap:25px;
    }

    .product-image{

        height:250px;
    }

    .product-details h1{

        font-size:28px;
    }

    .price{

        font-size:22px;
    }

    .buy-form h2{

        font-size:26px;
    }

    .buy-form input{

        padding:14px;
    }

    .buy-form button{

        padding:14px;
    }
}